body {
    font-family:TAHOMA;
    margin: 0;
    padding: 0;
    background: linear-gradient ( to bottom right, #323F86, #280004);
}
header{
background-image: url("sddefault.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 350px;
margin: 0;

}
.header{
text-align: center;
font-size: 75px;
position: absolute;
top: 100px;
right: 490px;
background: linear-gradient (90 deg, #785FBB, #651C1C);
-webkit-background-clip: text;
color: transparent;
}     
.ewq{
font-size: 50px;
}

h2{
 text-align: center;
 background: linear-gradient (90 deg, #785FBB, #651C1C);
    -webkit-background-clip: text;
    color: transparent;
 font-size: 45px;  }  

 p{
color: #AA9FCA;
font-size: 20px;
 }

 li{
    font-size: 20px;
 }

 footer{
    border: 3px solid black;
    padding: 30px;
 
     }

     .text{
        color: #AA9FCA; 
     
      }

      .main{
        width: 1300px;
        padding: 5px;
        }

        .fandom{
          color: #AA9FCA;
          text-decoration: none ;
          transition: 0.4s;
        }

        .fandom:hover{
          color: #3f306d;
        }

        .we{
            font-size: 20px;
            color: #AA9FCA;
            text-decoration: none;
            display: block;
            padding: 5px;
            transition: 0.4s;
            padding-top: 15px;
            }

            .we:hover{
              color: #3f306d;
            }

            nav{
            padding: 5px;
            margin: 5px;
            width: 150px;
            position: fixed;
            border:5px solid black;
            right: 0;
            height: 350px;
            list-style-type: none;
            }

.glob{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.bioms{
    border: 5px solid black;
    position: relative;
    width: 530px;
    left: 50px;
    margin: 20px;
    padding: 5px;
}
h3{
    color: #AA9FCA;
    font-size: 35px;
    text-align: center;
}
